<?xml version="1.0"?>
<psalm
        autoloader="vendor/autoload.php"
        errorLevel="3"
        hideExternalErrors="true"
        useDocblockTypes="false"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="Action"/>
        <directory name="DependencyInjection"/>
        <directory name="Repository"/>
        <directory name="Security"/>
        <ignoreFiles>
            <directory name="doc"/>
            <directory name="Resources"/>
            <directory name="Tests"/>
        </ignoreFiles>
    </projectFiles>
    <issueHandlers>
        <ReservedWord>
            <errorLevel type="suppress">
                <file name="DependencyInjection/Configuration.php"/>
                <file name="DependencyInjection/Lti1p3Extension.php"/>
            </errorLevel>
        </ReservedWord>
        <ArgumentTypeCoercion>
            <errorLevel type="suppress">
                <file name="DependencyInjection/Configuration.php"/>
            </errorLevel>
        </ArgumentTypeCoercion>
        <InternalMethod>
            <errorLevel type="suppress">
                <file name="Security/Firewall/Message/LtiPlatformMessageAuthenticator.php"/>
                <file name="Security/Firewall/Message/LtiToolMessageAuthenticator.php"/>
                <file name="Security/Firewall/Service/LtiServiceAuthenticator.php"/>
            </errorLevel>
        </InternalMethod>
        <ParamNameMismatch>
            <errorLevel type="suppress">
                <file name="DependencyInjection/Security/Factory/Message/LtiToolMessageSecurityFactory.php"/>
                <file name="DependencyInjection/Security/Factory/Message/LtiPlatformMessageSecurityFactory.php"/>
                <file name="DependencyInjection/Security/Factory/Service/LtiServiceSecurityFactory.php"/>
            </errorLevel>
        </ParamNameMismatch>
        <PossiblyNullReference>
            <errorLevel type="suppress">
                <file name="DependencyInjection/Configuration.php"/>
            </errorLevel>
        </PossiblyNullReference>
        <PossiblyUndefinedMethod>
            <errorLevel type="suppress">
                <file name="DependencyInjection/Configuration.php"/>
            </errorLevel>
        </PossiblyUndefinedMethod>
        <UndefinedMethod>
            <errorLevel type="suppress">
                <file name="DependencyInjection/Security/Factory/Message/LtiPlatformMessageSecurityFactory.php"/>
                <file name="DependencyInjection/Security/Factory/Message/LtiToolMessageSecurityFactory.php"/>
                <file name="DependencyInjection/Security/Factory/Service/LtiServiceSecurityFactory.php"/>
            </errorLevel>
        </UndefinedMethod>
    </issueHandlers>
    <mockClasses>
        <class name="PHPUnit\Framework\MockObject\MockObject"/>
    </mockClasses>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
