<?xml version="1.0"?>
<psalm
        autoloader="vendor/autoload.php"
        errorLevel="3"
        hideExternalErrors="true"
        useDocblockTypes="false"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="Action"/>
        <directory name="DependencyInjection"/>
        <directory name="Repository"/>
        <directory name="Security"/>
        <ignoreFiles>
            <directory name="doc"/>
            <directory name="Resources"/>
            <directory name="Tests"/>
        </ignoreFiles>
    </projectFiles>
    <issueHandlers>
        <ClassMustBeFinal errorLevel="suppress" />
        <MissingOverrideAttribute errorLevel="suppress" />
        <PossiblyUnusedMethod>
            <errorLevel type="suppress">
                <file name="DependencyInjection/Builder/RegistrationRepositoryBuilder.php" method="__construct"/>
                <file name="DependencyInjection/Builder/RegistrationRepositoryBuilder.php" method="build"/>
                <file name="Security/Authentication/Token/Message/LtiToolMessageSecurityToken.php" method="getState"/>
                <file name="Security/Authentication/Token/Service/LtiServiceSecurityToken.php" method="getValidationResult"/>
                <file name="Security/Authentication/Token/Service/LtiServiceSecurityToken.php" method="getRegistration"/>
                <file name="Security/Authentication/Token/Service/LtiServiceSecurityToken.php" method="getScopes"/>
                <file name="Security/Authentication/Token/Service/LtiServiceSecurityToken.php" method="getCredentials"/>
                <file name="Security/Firewall/Message/LtiToolMessageAuthenticator.php" method="__construct"/>
                <file name="Security/Firewall/Service/LtiServiceAuthenticator.php" method="__construct"/>
                <file name="DependencyInjection/Builder/KeyChainRepositoryBuilder.php" method="__construct"/>
                <file name="DependencyInjection/Builder/KeyChainRepositoryBuilder.php" method="build"/>
                <file name="Security/Authentication/Token/Message/AbstractLtiMessageSecurityToken.php" method="getValidationResult"/>
                <file name="Security/Authentication/Token/Message/AbstractLtiMessageSecurityToken.php" method="getRegistration"/>
                <file name="Security/Authentication/Token/Message/AbstractLtiMessageSecurityToken.php" method="getCredentials"/>
                <file name="Security/Firewall/Message/LtiPlatformMessageAuthenticator.php" method="__construct"/>
            </errorLevel>
        </PossiblyUnusedMethod>
        <MoreSpecificReturnType>
            <errorLevel type="suppress">
                <file name="Security/Firewall/Message/LtiPlatformMessageAuthenticator.php" method="getJwtFromRequest"/>
                <file name="Security/Firewall/Message/LtiToolMessageAuthenticator.php" method="getIdTokenFromRequest"/>
            </errorLevel>
        </MoreSpecificReturnType>
        <LessSpecificReturnStatement>
            <errorLevel type="suppress">
                <file name="Security/Firewall/Message/LtiPlatformMessageAuthenticator.php" method="getJwtFromRequest"/>
                <file name="Security/Firewall/Message/LtiToolMessageAuthenticator.php" method="getIdTokenFromRequest"/>
            </errorLevel>
        </LessSpecificReturnStatement>
        <UnusedClass>
            <errorLevel type="suppress">
                <file name="Action/Jwks/JwksAction.php"/>
                <file name="Action/Platform/Message/OidcAuthenticationAction.php"/>
                <file name="Action/Platform/Service/OAuth2AccessTokenCreationAction.php"/>
                <file name="Action/Tool/Message/OidcInitiationAction.php"/>
                <file name="DependencyInjection/Security/Factory/Message/LtiPlatformMessageSecurityFactory.php"/>
                <file name="DependencyInjection/Security/Factory/Message/LtiToolMessageSecurityFactory.php"/>
                <file name="DependencyInjection/Security/Factory/Service/LtiServiceSecurityFactory.php"/>
                <file name="Security/Exception/LtiToolMessageExceptionHandler.php"/>
            </errorLevel>
        </UnusedClass>
        <ArgumentTypeCoercion>
            <errorLevel type="suppress">
                <file name="DependencyInjection/Configuration.php"/>
            </errorLevel>
        </ArgumentTypeCoercion>
        <ParamNameMismatch>
            <errorLevel type="suppress">
                <file name="DependencyInjection/Security/Factory/Message/LtiToolMessageSecurityFactory.php"/>
                <file name="DependencyInjection/Security/Factory/Message/LtiPlatformMessageSecurityFactory.php"/>
                <file name="DependencyInjection/Security/Factory/Service/LtiServiceSecurityFactory.php"/>
            </errorLevel>
        </ParamNameMismatch>
        <UndefinedMethod>
            <errorLevel type="suppress">
                <file name="DependencyInjection/Security/Factory/Message/LtiPlatformMessageSecurityFactory.php"/>
                <file name="DependencyInjection/Security/Factory/Message/LtiToolMessageSecurityFactory.php"/>
                <file name="DependencyInjection/Security/Factory/Service/LtiServiceSecurityFactory.php"/>
            </errorLevel>
        </UndefinedMethod>
        <UndefinedInterfaceMethod>
            <errorLevel type="suppress">
                <file name="DependencyInjection/Configuration.php"/>
            </errorLevel>
        </UndefinedInterfaceMethod>
    </issueHandlers>
    <mockClasses>
        <class name="PHPUnit\Framework\MockObject\MockObject"/>
    </mockClasses>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
