name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        php: [ 8.0, 8.1, 8.2, 8.3 ]
        extra-composer-params: [ "" ]
        include:
          - php: 8.3
            coverage: "true"

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP & Composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2

      - name: Install dependencies
        env:
          EXTRA_COMPOSER_PARAMS: ${{ matrix.extra-composer-params }}
        run: composer update --no-interaction --no-suggest ${EXTRA_COMPOSER_PARAMS}

      - name: PHPUnit
        env:
          COVERAGE: ${{ matrix.coverage }}
        run: |
          [ $COVERAGE = "true" ] \
            && mkdir -p build/logs && ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml \
            || ./vendor/bin/phpunit

      - name: Psalm
        run: |
          ./vendor/bin/psalm --shepherd

      - name: Coveralls
        if: ${{ matrix.coverage == 'true' }}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./vendor/bin/php-coveralls -v
